name: Build Binaries (Linux)
run-name: Build Binaries (Linux)

on:
  workflow_dispatch:

jobs:
  build-binaries-linux:
    name: Build Binaries (Linux)
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Teleport
        uses: actions/checkout@v4

      - name: Get Go version
        id: go-version
        run: |
          GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          echo "go-version=${GO_VERSION}" >> $GITHUB_OUTPUT
          echo "Go version: ${GO_VERSION}"

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go-version.outputs.go-version }}
          cache: false

      - name: Build binaries
        run: |
          make build/tsh build/tbot build/tctl

      - name: Upload Linux binaries
        uses: actions/upload-artifact@v6
        with:
          name: linux-binaries
          path: |
            build/tsh
            build/tbot
            build/tctl
          if-no-files-found: error

